.testimonial__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.testimonial__img{
    border-radius: var(--border-radius-2);
    transition: var(--transition);
    
}

.testimonial__img:hover{
    border-radius: var(--border-radius-2);
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

.image__row {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

.thumbnail {
    padding-left: 20px;
    animation-duration: mymove 5s infinite;
    transition: var(--transition);
}

.thumbnail:hover{
    padding-left: 20px;
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

.clicked{
    border: 2px solid rgb(92, 12, 145);
}


.testimonial__btn{
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    height: 3rem;
    margin-top: 5rem;
    margin-right: 2rem;
    color: var(--color-black);
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    background: var(--color-primary);
}

.testimonial__btn:hover{
    background-color: transparent;
    border-color: var(--color-light);
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

/* MEDIA QUERIES (Tablets) */

@media screen and (max-width:1024px){
    
    .testimonial__btn{
        display: none;
    }

}

/* MEDIA QUERIES (phones) */

@media screen and (max-width: 600px){

    .testimonial__btn{
        display: none;
    }

}
